*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;

    img{
      height: 36px;
      margin: 16px 10px;  
    }

}